<h3>
  Здравствуй, <span *ngIf="userLoged" class="user">{{ userLoged }}</span>
  <span *ngIf="!userLoged">пользователь</span>
</h3>
<div class="container">
  <!-- Сюда можно добавить ng-content или @ViewContent -->
  <img src="../../assets/avatar.jpg" alt="avatar" class="avatar" />
  <p>
    <b>Каталогизатор фильмов</b> - выпускной проект,
    созданный с ипользований знаний, полученных в IT-Academy. Написан с
    использованием фрэймворка Angular 10.
  </p>
  <p>На главной странице выводятся все фильмы из коллекции.</p>
  <p>Авторизиция происходит в "Кабинете пользователя". Тревания к логину и паролю: имя начаниется не с цифры,
    используются только латинские буквы, длина пароля - минимум 6 символов</p>
  <p>Добавить новые фильмы может только авторизированный пользователь. Имя "залогиненного" пользователя повляется на этой
    странице в шапке приветствия.
  </p>
  <p>
    Минимально необходимые поля для добавления фильма в коллекцию: название, жанр, статус "просмотрен" - да/нет.
  </p>
</div>
