<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
      <form
        class="login100-form validate-form flex-sb flex-w"
        [formGroup]="userFrom"
        (submit)="onSubmit(form.value)"
        #form="ngForm"
      >
        <span class="login100-form-title p-b-51"> Авторизация </span>
        <div class="wrap-input100 m-b-16">
          <input
            class="input100"
            type="text"
            name="username"
            placeholder="Логин"
            formControlName="login"
          />

          <span class="focus-input100"></span>
        </div>
        <span
          *ngIf="
            userFrom.controls['login'].invalid &&
            userFrom.controls['login'].touched
          "
          class="error"
          >Допустимо: первый символ не цифра, не менее 2-x символов и только
          латинские буквы!</span
        >
        <div class="wrap-input100 m-b-16">
          <input
            class="input100"
            type="password"
            name="pass"
            placeholder="Пароль"
            formControlName="password"
          />
          <span class="focus-input100"></span>
        </div>
        <span
          *ngIf="
            userFrom.controls['password'].invalid &&
            userFrom.controls['password'].touched
          "
          class="error"
          >Длина пароля не менее 6 символов!</span
        >
        <!-- Здесь закомментирован чекбокс "запомнить меня" -->
        <!--<div class="flex-sb-m w-full p-t-3 p-b-24">
           <div class="contact100-form-checkbox">
            <input
              class="input-checkbox100"
              id="ckb1"
              type="checkbox"
              name="remember-me"
            />
            <label class="label-checkbox100" for="ckb1"> Запомнить меня </label>
          </div>
        </div>-->
        <div class="container-login100-form-btn m-t-17">
          <button class="login100-form-btn" [disabled]="!form.valid">
            Войти
          </button>
        </div>
      </form>
      <p class="loginIn" id="loginIn">Вы вошли!</p>
    </div>
  </div>
</div>
