.container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  min-width: 130px;
  align-self: start;
  font-family: Ubuntu-Regular;
}

label {
  cursor: pointer;
}

/* ----------------for mobiles ---------------- */
@media (max-width: 375px) {
  .container {
    margin-bottom: 20px;
    flex-wrap: wrap;
    max-height: 150px;
    padding: 0;
  }
}
