.container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  min-width: 130px;
  align-self: start;
  font-family: Ubuntu-Regular;
}

@media (max-width: 1080px) {
  .container {
    font-size: 40px;
    padding-left: 20px;
  }

  .genre {
    margin-bottom: 10px;
  }
}
