<h3>Здравствуй, пользователь</h3>
<div class="container">
  <img src="../../assets/avatar.jpg" alt="avatar" class="avatar" />
  <p>
    <b>Каталогизатор фильмов</b> - выпускной проект, созданный с использованием
    знаний, полученных в IT-Academy. Написан на фрэймворке Angular 10.
  </p>
  <p>На главной странице выводятся все фильмы из коллекции.</p>
  <p>
    Авторизация происходит в "Кабинете пользователя". Требования к логину и
    паролю: логин - любой адрес электронной почты, длина пароля - минимум 6
    символов
  </p>
  <p>
    Добавить новые фильмы может только авторизированный пользователь. Имя
    "залогиненного" пользователя появляется на этой странице в шапке
    приветствия.
  </p>
  <p>
    Минимально необходимые поля для добавления фильма в коллекцию: название,
    жанр, статус "просмотрен" - да/нет.
  </p>
</div>
