span.error {
  margin-left: 10px;
  color: red;
}

.loginIn {
  text-align: center;
  color: green;
  padding: 10px;
  font-size: x-large;
  display: none;
}

button {
  margin-top: 10px;
}

@media (max-width: 1080px) {
  .login100-form-btn {
    font-size: 25px !important;
  }

  .p-b-51 {
    font-size: 50px !important;
  }
}
